<section class="section_xl">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-6">
          <div class="p-4">
            <div class="embed-responsive embed-responsive-4by3 bg-light">
              <img class="embed-responsive-item obj-contain" 
                src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" 
                id="api-image"/>
            </div>
          </div>
        </div>
        <div class="col-lg-5 offset-lg-1">
          <h2 class="text-secondary h2 mb-3">Dynamic Content From Your Favourite API</h2>
          
          <blockquote class="blockquote">
            <p class="text-info font-weight-light mb-2" id="api-joke"><span class="bg-light">&nbsp;</span></p>
            <footer class="blockquote-footer text-right invisible">Chuck Norris' Jokes Hub</footer>
          </blockquote>
        </div>
      </div>
    </div>
</section>