<section class="hero overflow-hidden">
  <div class="hero-overlay h-100">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-6 align-self-center">
            <h1 class="h1 text-secondary mb-3 mt-5 mt-lg-0">
              Introduce The Product Quickly & Effectively
            </h1>
            <p class="lead text-info">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            </p>
            <p class="lead text-info">
              Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            </p>
            <p class="mt-lg-5">
              <a href="#" class="btn btn-dark btn-lg btn-mw-lg">Get started</a>
              <a href="#" class="btn btn-outline-dark btn-lg btn-mw-lg ml-lg-3">Learn More</a>
            </p>
          </div>
          <div class="col-lg-6 align-self-center">
            <img class="hero-phone" src="/img/phone-image.png" alt="">
          </div>
        </div>
      </div>
    
  </div>
</section>
