<section class="section_xl bg-white pricing-overlay">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      
      <div class="col-lg-6 text-center mt-5">
        <hr class="invisible">
        <h2 class="text-secondary h2 mb-3">A Price To Suit Everyone</h2>
        <p class="text-info font-weight-light">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
        </p>
        <div class="my-4">
          <p class="h1 text-primary mb-0">$200</p>
          <p class="text-primary">Starter kit</p>
        </div>
        <p class="text-muted small mb-1">See, One price. Simple.</p>
        <a href="#" class="btn btn-dark btn-mw-lg">Purchase Now</a>
      </div>
    </div>
  </div>
</section>