


$primary:       #37447E;
$secondary:     #091133;
// $secondary:     #5D6970;
// $success:       $green !default;
$info:          #505F98;
// $warning:       $yellow !default;
// $danger:        $red !default;
$light:         #FBFBFD;
$dark:          #111B47;
$headings-line-height: 1.35;
$nav-link-font-size: 14;

$h1-font-size:                3.125rem;
$h2-font-size:                2.25rem;
// $h3-font-size:                $font-size-base * 1.75 !default;
// $h4-font-size:                $font-size-base * 1.5 !default;
// $h5-font-size:                $font-size-base * 1.25 !default;
// $h6-font-size:                $font-size-base !default;

$text-muted: #5D6970;

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);

$font-family-base: 'Roboto', sans-serif;

$navbar-brand-font-size: 26;

$lead-font-size: 18px;


$btn-border-radius:           2px;
$btn-border-radius-sm:        2px;
$btn-border-radius-lg:        2px;


$btn-padding-y:               2px;
$btn-padding-x:               10px;
// $btn-font-family:             $input-btn-font-family !default;
$btn-font-size:               16px;
$btn-line-height:             1.625;
$btn-white-space:             null !default; // Set to `nowrap` to prevent text wrapping

$btn-padding-y-sm:            2px;
$btn-padding-x-sm:            8px;
$btn-font-size-sm:            12px;

$btn-padding-y-lg:            4px;
$btn-padding-x-lg:            12px;
$btn-font-size-lg:            18px;

$btn-border-width:            2px;